.toDo__contanier {
	position: absolute;
	right: 50px;
	bottom: 50px;
	display: flex;
	flex-direction: column-reverse;
}

.toDo__form input {
	width: 200px;
	height: 50px;
	text-align: center;
	background: transparent;
	border: none;
	color: white;
	font-size: 20px;
	font-weight: 700;
}

.toDo__form input:focus {
	outline: none;
}

.toDo__form input::placeholder {
	color: white;
	font-size: 26px;
	font-weight: 500;
}

.toDo__list li {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(10, 10, 10, 0.4);
	margin: 5px;
	padding: 10px;
	font-size: 20px;
	border-radius: 10px;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}
