.user-name {
	font-size: 80px;
	font-weight: 600;
	color: white;
	margin-bottom: 80px;
}

.user-name__form input {
	width: 60vw;
	height: 100px;
	text-align: center;
	background: transparent;
	border: none;
	font-size: 100px;
	font-weight: 600;
	color: white;
}
.user-name__form input:focus {
	outline: none;
}
.user-name__form input::placeholder {
	font-size: 70px;
	color: white;
}
